- const worldState = getState('javascriptWorldState');

// Responses
mixin need_code
  response#need_code.
    The lead scientist is working to reverse the experiment, but we need your access code.

mixin how_do_i_do_it
  response#how_do_i_do_it.
    I'll help you if I can - how do I make it over to you?

mixin second_thought
  response#second_thought.
    You know, on second thought, I might just leave you there and let spacetime crumble to pieces - at least then I'd be free of your attitude.

mixin can_you_just_tell
  response#can_you_just_tell.
    Listen, we're a bit pressed for time - reality unraveling and all that - can't you just tell me your access code?

conversation(display_name="TwilioQuest Botanist")
  if lastResponse === "how_do_i_do_it"
    statement.
      How?! Well, isn't it obvious! You'll need to #[span.highlight extend the energy bridges] connecting the different sections of the lab. There should be a control panel by each bridge section you can use to do it.<br/><br/>It will probably require that you be clever enough to write #[span.highlight JavaScript code that uses conditional logic] - so I won't hold my breath.
    responses
      +can_you_just_tell
      +second_thought

  else if lastResponse === "can_you_just_tell"
    statement.
      The only reality you need concern yourself with is that I, an irreplaceable engine of scientific discovery, have been trapped here due to the inferiority of my colleagues!<br/><br/>Aside from that, my access code is encrypted on a hardware token - #[span.highlight you'll need to retrieve it from me] if you insist on carrying out this fool's errand. Though I suppose that's the only errand you're capable of.
    responses
      +how_do_i_do_it
      +second_thought

  else if lastResponse === "second_thought"
    statement.
      You can't. You wouldn't! I'm... This is... Please don't.
    responses
      +how_do_i_do_it

  else if lastResponse === "what_was_that"
    statement.
      Do you imagine that your humour is endearing? Let me assure you that it is not, and that your juvenile prattle will earn you a #[span.red stern reprimand] from your superiors!
    responses
      +need_code
      +how_do_i_do_it

  else if lastResponse === "need_code"
    statement.
      Hah. Working on a solution, is she? If I had been placed in charge of this project, you can be sure we'd never have ended up in this situation to begin with.<br/><br/>If you want to waste your time helping her, be my guest. I'll happily #[span.highlight give you my access code once you clear the path] for my escape.
    responses
      +can_you_just_tell
      +how_do_i_do_it

  else if worldState.southWing.hadIntroConversation
    statement.
      This is an outrage! 20 years as a tenured professor of botany, dozens of published works, and left to rot in a burning husk of a lab...<br/><br/>You there! You haven't forgotten about me, have you? Rescue me at once or I'll... You'll...
    responses
      response#what_was_that.
        Did I hear something? Darn it, must be that selective hearing loss triggered by self-important whining.

  else
    - worldState.southWing.hadIntroConversation = true;
    statement.
      I say - you! You over there!<br/><br/>As the most senior and accomplished scientist in this facility, I demand that you assist me this instant!
    responses
      +need_code
      +how_do_i_do_it

// Flush world state changes, if any
- setState('javascriptWorldState', worldState);