- const worldState = getState('javascriptWorldState');

// Responses
mixin what_research
  response#what_research.
    What sort of research is conducted here?

mixin what_can_i_learn
  response#what_can_i_learn.
    What can I learn about JavaScript at the lab?

conversation(display_name="Cedric")
  - const savedDay = worldState && Object.values(worldState.room1_split.lasers).every(isOn => isOn);
  - const pleaseHurry = worldState && worldState.room1 && worldState.room1.explosionTriggered;
  if savedDay
    statement#saved_day
  else if pleaseHurry
    statement#please_hurry
  else
    case lastResponse
      when "what_research"
        statement#what_research
        responses
          +what_can_i_learn

      when "what_can_i_learn"
        statement#what_can_i_learn
        responses
          +what_research

      default
        statement#default
        responses
          +what_can_i_learn
          +what_research

  statements
    statement#saved_day
      text.
        It would appear the dimensional rift caused by the lab explosion has
        been eliminated. Well done! I knew you were up to the task.
      speech
        prosody(rate="110%").
          It would appear the dimensional rift caused by the lab explosion has
          been eliminated. Well done! I knew you were up to the task.

    statement#please_hurry
      text.
        Operator - our intelligence indicates that the
        #[span.red dimensional rift] caused by the explosion in the lab is
        still expanding.<br/><br/>Please #[span.highlight coordinate with the lead scientist] 
        in the room to the right. She is currently working on a
        solution.
      speech
        prosody(rate="110%").
          Operator. Our intelligence indicates that the
          dimensional rift caused by the explosion in the lab is
          still expanding. Please coordinate with the lead 
          scientist in the room to the right. She is currently working on a
          solution.

    statement#what_can_i_learn
      text.
        Navigating the laboratory will require that you become familiar with
        the JavaScript programming language. In doing so, you will also install
        the #[a(href="https://www.nodejs.org") Node.js] JavaScript runtime on
        your computer, enabling you to write and execute JavaScript code.
      speech
        prosody(rate="110%").
          Navigating the laboratory will require that you become familiar with
          the JavaScript programming language. In doing so, you will also install
          the node jay S JavaScript runtime on
          your computer, enabling you to write and execute JavaScript code.

    statement#what_research
      text.
        Presently, our research team is studying the energy-producing 
        properties of #[span.highlight ducktypium], a newly discovered element
        that we believe is the source of JavaScript's power. Proceed through the
        security barriers on the right to examine our research data yourself.
      speech
        prosody(rate="110%").
          Presently, our research team is studying the energy-producing 
          properties of ducktypeum. a newly discovered element
          that we believe is the source of JavaScript's power. Proceed through 
          the security barriers on the right to examine our research data 
          yourself.

    statement#default
      text.
        Operator - I am pleased you have come to observe our work at the
        #[span.highlight JavaScript Test Lab]. TwilioQuest scientists are making
        significant progress unlocking the potential of the JavaScript
        programming language.
      speech
        prosody(rate="110%").
          Operator. I am pleased you have come to observe our work at the
          JavaScript test lab. TwilioQuest scientists are making
          significant progress unlocking the potential of the JavaScript
          programming language.