// Partial conversation template for the initial scientist conversation
case lastResponse
  when "oh_no"
    statement.
      Oh, it's nothing really - it's just... we need to #[span.highlight activate all four of the molecular stasis beams] in the center of the room to stabilize the #[span.highlight ducktypium]. The process is fully automated, but it does require a password. Which I, ah, don't currently remember.
    responses
      response#reset_password.
        Oof. Is there any way to reset the password?

  when "reset_password"
    statement.
      There is, but I'll never hear the end of it around the lab if word gets out that I forgot the stasis beam password again! I actually #[span.highlight wrote it down on a piece of paper] in my office down the passage behind me...
    responses
      response#also_forgot.
        But you're still standing out here, so might I assume...
  
  when "also_forgot"
    statement.
      Okay, so, I maybe ALSO managed to trigger all the #[span.highlight security barriers] leading to my office when I went in to retrieve the password. Don't judge me - I'm a very busy scientist! You're not judging me, are you?
    responses
      response#its_okay.
        No, of course not - we all make mistakes.

  when "its_okay"
    statement.
      Thank you - you know, I've heard Operators are pretty good at solving problems like this - do you think you could #[span.highlight get into my office and retrieve the password]? I'd owe you big time.
    responses
      response#you_bet.
        You bet - I'll see what I can do.

  when "you_bet"
    statement.
      You're a life saver! Once you get past the security barriers behind me, the password for the stasis beam #[span.highlight is written on a piece of paper on my desk].
    // Flag that the scientist initial conversation has been finished
    - worldState.room1.scientistInitalConvo = true;

  default
    statement.
      Oh, hi there - you must be the Operator sent to observe our research. You've come at an exciting time! We're moments away from stabilizing a single molecule of #[span.highlight ducktypium] for the first time in history! <br/><br/>Though there is currently a #[span.highlight small, almost insignificant, snag] in the testing process...
    responses
      response#oh_no.
        Uh oh - what happened?