- const worldState = getState('javascriptWorldState');

mixin yes_cant_see
  response#yes_cant_see.
    Yes, but I can't see you... what's going on here?

mixin how_do_that
  response#how_do_that.
    Losing your corporeal form sounds unpleasant... How can I help?

mixin need_key
  response#need_key.
    The lead scientist sent me to retrieve your activation code for a laser in the ducktypium experiment room. Do you have it?

conversation(display_name="TwilioQuest Physicist")
  if lastResponse === "yes_cant_see"
    statement.
      Thank goodness, finally, someone noticed I was still in here! The ducktypium explosion caused this matter instantiator to go haywire. I was trying to stabilize it when the machine engaged by mistake, causing #[span.highlight my body to slip out of phase with this plane of the multiverse]!<br/><br/>
      The science behind this is actually quite fascinating, but if you wouldn't mind, I'd prefer to discuss it with you after you've returned my body to normal.
    responses
      +how_do_that
      +need_key
  
  else if lastResponse === "how_do_that"
    statement.
      There are control terminals down the hallways to the east and west of this chamber - they must have been damaged during the explosion. If you can #[span.highlight get those terminals back online], the matter instantiator should reassemble my physical body.
    responses
      +need_key

  else if lastResponse === "need_key"
    statement.
      I do, though my hardware key has gone through the same transformation as the rest of my body. If you can #[span.highlight restore my physical form], the activation code is all yours.
    responses
      +how_do_that

  else if worldState.northWing.summonAnimFinished
    if worldState.northWing.hadSavedConversation
      statement.
        Thank you once again for #[span.highlight restoring my physical form]. I believe you already have #[span.highlight the activation code you need] for the north laser in the experiment room. I'll join you there shortly.
      responses
    else
      - worldState.northWing.hadSavedConversation = true;
      statement.
        Wait... Can you see me? You can see me! You did it, you #[span.highlight restored my physical form]!<br/><br/> Here - please #[span.highlight take my activation code] for the north laser in the experiment room. I'll join you there shortly, I should probably ensure all my internal organs rematerialized properly first. Also, I could have sworn I was a few inches taller...
      responses

  else if worldState.northWing.hadIntroConversation
    statement.
      Hello? Can you still hear me? If you can #[span.highlight restore my physical form], I'll gladly provide that activation code you need.
    responses
      +how_do_that
      +need_key

  else
    - worldState.northWing.hadIntroConversation = true;
    statement.
      Help! Help! Can you hear me?!?!
    responses
      +yes_cant_see

// Flush world state changes, if any
- setState('javascriptWorldState', worldState);