- const worldState = getState('javascriptWorldState');

mixin welcome
  response#welcome.
    It was my pleasure.

mixin follow_up
  response#follow_up.
    Are you feeling okay? You've been through more than your fair share of reality-bending lately.

conversation(display_name="TwilioQuest Physicist")
  if lastResponse === "welcome"
    statement.
      Hah, that seems unlikely. Unless manipulating spacetime like a hunk of Play Doh is your idea of a good time. Though to be fair, that is *my* idea of a good time.

    responses
      +follow_up

  else if lastResponse === "follow_up"
    statement.
      I feel fine, though I am 99% sure my eyes were brown before all this started. I've asked my mom to text me some baby pictures for reference, but I kind of don't care. The applications of this technology could be amazing!<br/><br/> But despite the bumps and bruises, I'm here, in one piece, thanks to you.

    responses
      +welcome

  else
    statement.
      The #[span.highlight ducktypium] molecule is stable! Not only did you save The Cloud and all of us, we're that much closer to unlocking the mysteries of JavaScript. You, my friend, are a legend.

    responses
      +welcome
      +follow_up

// Flush world state changes, if any
- setState('javascriptWorldState', worldState);