- const worldState = getState('javascriptWorldState');

mixin how_get_job
  response#how_get_job.
    I understand that this is an important project - how did you end up doing this kind of research?

conversation(display_name="TwilioQuest Scientist")
  if lastResponse === "how_get_job"
    statement.
      It's definitely not what I imagined I'd be doing after a PhD in molecular biology. And I can tell you it's nowhere near as lucrative as the offers I received from pharmaceutical companies.<br/><br/>But I've never been able to resist the chance to solve a mystery. When the TwilioQuest program recruited me to study a previously unknown substance, how could I refuse?
    responses
      response#lucky_to_have.
        Well, they're lucky to have you.

  else if lastResponse === "lucky_to_have"
    statement.
      You're not wrong there ;)<br/><br/>And I don't mind saying, we're lucky to have your help as well. Let's get back to it, shall we?

  else if lastResponse === "what_happened"
    include scientist1_disaster.pug
  
  else if worldState.room1.explosionTriggered
    if lastResponse
      include scientist1_disaster.pug
    else if worldState.scientistDisasterConvo
      statement.
        The #[span.red dimensional rift created by the explosion] is getting worse. I think I can reverse it, but we need to #[span.highlight get the beams in this room back online].<br/><br/>#[span.highlight Find my colleagues] stranded around the lab - they will have the activation codes we need to get the beams running again. We can still fix this if we act quickly.
      responses
        response#what_happened.
          Can you go over what happened one more time? Specifically the part where half the lab is missing and everything is on fire?
    else
      statement.
        This is bad. Really quite bad.
      responses
        response#what_happened.
          Uh, yeah - half the lab is missing and everything is on fire! What happened?

  else
    if worldState.room1.passwordFound
      statement.
        You found the #[span.highlight stasis beam password]! You're the best! <br/><br/> It seems only fitting that you do the honors and re-start our big experiment. #[span.highlight Head over to the beam controls in the center of the room] and use the password there. I am so excited - I just know we're going to uncover the "big bang" moment of JavaScript!
      responses
        +how_get_job

    else if worldState.room1.scientistInitalConvo
      statement.
        Thanks again for your help #[span.highlight retreiving the password] for the stasis beam in the center of this room. When you find it, we can #[span.highlight continue our ducktypium research]! <br/><br/>Once you get past the security barriers behind me, the password for the stasis beam #[span.highlight is written on a piece of paper on my desk].
      responses
        +how_get_job

    else
      include scientist1_initial.pug

// Flush world state changes, if any
- setState('javascriptWorldState', worldState);