conversation(display_name="Cedric")
  case lastResponse
    when "bottom_of_this"
      statement#final
      responses

    when "what_they_do"
      statement#forge
      responses
        response#bottom_of_this.
          I'll get to the bottom of this!

    default
      statement#default
      responses
        response#what_they_do.
          Oh no! What are they going to do?

  statements
    statement#default
      text.
        Operator! I'm glad you're here! The #[span.red Legacy Systems] have stolen a sample of Ducktypium from the #[span.highlight JavaScript Test Lab].
    statement#forge
      text.
        We're not sure! One of our #[span.highlight Field Operators] found these partial plans for something called the #[span.highlight Dark Ducktypium Forge]. We've rendered what we can here. We need you to explore this simulation and figure out its purpose!
    statement#final
      text.
        Be sure to return to this simulation. Our #[span.highlight Field Operators] will be bringing back more of the plans soon!