conversation(display_name="Cedric")
  statement#default
  
  statements
    statement#default
      text.
        Congratulations on successfully completing the 
        #[span.highlight Basic Training] exercise! Our faith in your abilities
        was well founded. If you return to the VR pods, you will see that more
        training exercises have been unlocked in the Mission Computer. Complete
        as many of these challenges as you can to continue your Operator training!
