conversation(display_name="Cedric")
  case lastResponse
    when "final"
      statement#final
      responses

    when "interact"
      statement#interact
      responses
        response#final.
          Okay - I'll stretch my legs a bit, then come over to speak with you.

    when "movement"
      statement#movement
      responses
        response#interact.
          If I want to talk to someone or interact with an object, 
          how do I do that?

    when "initial"
      statement#where
      responses
        response#movement Sure - how do I move around?

    default
      statement#default
      responses
        response#initial I still feel a little disoriented...

  statements
    statement#final
      text.
        Understood. Please #[span.highlight speak with me] as soon as you are able. 
        I have important information for you as you begin your training, and I will
        answer any questions you may have to the best of my ability.
      speech.
        Understood. Please speak with me as soon as you are able. I have
        important information for you as you begin your training, and I will
        answer any questions you may have 
        #[break(strength="medium")] to the best of my ability.

    statement#interact
      text.
        To interact with a person or object aboard the ship or in any other 
        virtual environment, approach the person or object and press the
        #[span.highlight spacebar]. 
      speech.
        To interact with a person or object aboard the ship or in any other 
        virtual environment, approach the person or object and press the
        spacebar.

    statement#movement
      text.
        You can move your avatar around the screen using 
        #[span.highlight the arrow keys] or the 
        <span class="highlight">[W], [A], [S], and [D] keys</span>.
      speech.
        You can move your avatar around the screen using the arrow 
        keys, or the W A S and D keys.

    statement#where
      text.
        I apologize for any discomfort. Slight dizziness is common 
        when forming a direct neural connection to The Cloud for the first time. 
        I am sure you have many questions, but first, allow me to describe 
        #[span.highlight how you can navigate this virtual environment].

    statement#default
      text.
        New #[span.highlight Operator] detected. Neural connection to 
        #[span.highlight The Cloud] has been established, and life sign readings 
        are within a normal human range. Welcome aboard the 
        #[span.highlight Fog Owl].
      speech.
       New Operator detected. Neural connection to the Cloud has been 
       established, and life sign readings are within a normal human range. 
       Welcome aboard the Fawg Owl.
