conversation(display_name="Cedric")
  statement#default
  
  statements
    statement#default
      text.
        Operator. I am pleased that you are becoming more comfortable navigating
        the Fog Owl and our training simulations. I recommend that before
        proceeding any further, you clear at least the 
        #[span.highlight final barrier of the Basic Training exercise].
        Doing so will unlock more training missions in the Mission Computer.
