mixin dossier
  response#dossier.
    [checks service records] Oh wow, it looks like you had family in the Air Force?

mixin about
  response#about.
    Could you remind me who you are, and what you do on the ship?

conversation(display_name="Megan")
  case lastResponse
    when "dossier"
      statement#dossier
      responses

    when "about"
      statement#about
      responses
        +dossier

    default
      statement#default
      responses
        +about

  statements
    statement#dossier
      text.
        As the daughter of a 914th Airlift Wing officer, I do feel obligated to 
        tell you - "The Sky's No Limit". <br/><br/>Though let's be honest, my 
        ride is much cooler than any junker the Air Force has in the fleet.

    statement#about
      text.
        I don't see why not. I'm Megan, and I have the privilege of serving as 
        pilot of the Fog Owl. And I must say, it handles like a dream.

    statement#default
      text.
        What's up, Operator? What course should I set?
