mixin dossier
  response#dossier.
    [checks service records] I understand you were also a child actor?

mixin about
  response#about.
    Could you remind me who you are, and what you do on the ship?

mixin whats_this
  response#whats_this.
    What is that platform behind you?

conversation(display_name="Mica")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +whats_this

    when "about"
      statement#about
      responses
        +dossier

    when "whats_this"
      statement#whats_this
      responses
        +about

    default
      statement#default
      responses
        +whats_this
        +about

  statements
    statement#dossier
      text.
        How did that get in there?! It's true, but my career was short and not 
        all that successful. My most famous role was as an anthropomorphic fruit.
        I performed a memorable song and dance number impressing upon children the 
        importance of eating five servings of fruits and vegetables a day.<br/><br/>
        So if you're ever on a mission where you need someone to pretend they're 
        an apple, I've got you covered.
    
    statement#whats_this
      text.
        That's the <span class="highlight">navigation map</span>. You can use the 
        nav map to travel to a destination in The Cloud. We've highlighted a few 
        hot spots on the map that we think could use your attention. You should 
        visit these locations whenever you have time.

    statement#about
      text.
        Oh, sure - I'm Mica, your communications officer aboard the Fog Owl. In 
        addition to being fluent in several languages, I can help handle 
        sensitive negotiations or resolve conflicts with anyone we encounter 
        while exploring The Cloud. 

    statement#default
      text.
        Hey Operator! Where are we off to today?
