mixin dossier
  response#dossier.
    [revisa los registros de servicio] Tengo entendido que usted también era un actor infantil.

mixin about
  response#about.
    ¿Podrías recordarme quién eres y qué haces en el barco?

mixin whats_this
  response#whats_this.
    ¿Cuál es esa plataforma detrás de ti?

conversation(display_name="Mica")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +whats_this

    when "about"
      statement#about
      responses
        +dossier

    when "whats_this"
      statement#whats_this
      responses
        +about

    default
      statement#default
      responses
        +whats_this
        +about

  statements
    statement#dossier
      text.
        ¡¿Cómo llegó eso ahí?! Es cierto, pero mi carrera fue corta y no con
        todo ese éxito. Mi papel más famoso fue el de fruta antropomórfica.
        Interpreté una canción memorable y un número de baile para impresionar
        a los niños sobre la importancia de comer cinco porciones de frutas y verduras al día.<br/><br/>
        Entonces, si alguna vez estás en una misión en la que necesitas a alguien que finja que es
        una manzana, te tengo cubierto.
    
    statement#whats_this
      text.
        Ese es el <span class="highlight">mapa de navegación</span>. Puedes usar el
        mapa de navegación para viajar a un destino en La Nube. Hemos destacado algunos
        puntos calientes en el mapa que creemos que podrían necesitar su atención. Debería
        visitar estos lugares siempre que tenga tiempo.

    statement#about
      text.
        Oh, claro, soy Mica, tu oficial de comunicaciones a bordo del Búho de Niebla.
        Además de dominar varios idiomas, puedo ayudar a manejar
        negociaciones delicadas o resolver conflictos con cualquier persona que encontremos
        mientras explora La Nube.

    statement#default
      text.
        ¡Hola operador! ¿A dónde vamos hoy?
